@font-face {
  font-family: 'Nunito Sans';
  src: local('Nunito Sans Regular'),
       url('./assets/fonts/Nunito_Sans/static/NunitoSans_10pt-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans';
  src: local('Nunito Sans Bold'),
       url('./assets/fonts/Nunito_Sans/static/NunitoSans_10pt-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans';
  src: local('Nunito Sans Light'),
       url('./assets/fonts/Nunito_Sans/static/NunitoSans_10pt_Condensed-ExtraLight.ttf') format('truetype');
  font-weight: light;
  font-style: normal;
}


@font-face {
  font-family: 'Nunito Sans';
  src: local('Nunito Sans ExtraBold'),
       url('./assets/fonts/Nunito_Sans/static/NunitoSans_10pt-Black.ttf') format('truetype');
  font-weight: 800; /* Extra Bold */
  font-style: normal;
}

@font-face {
  font-family: 'Beau Rivage';
  src: local('Beau Rivage Regular'),
       url('./assets/fonts/Beau_Rivage/BeauRivage-Regular.ttf') format('truetype');
  font-weight: 800; /* Extra Bold */
  font-style: normal;
}

@media (max-width: 768px) {

  .row{
    flex-direction: column;
    width: 100%;
  }

  .gradient-button{
    width: 300px;
  }

  .app-title{
    text-align: center;
    padding: 0.4rem;
  }

  .canvas-preview{
    width: 300px;
    height: 300px;
  }
  
}

.row{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

body,*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
  font-family: 'Nunito Sans', Arial, sans-serif;
  font-weight: normal;
}

.body-container {
  background-color: #f1f1f1;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  transition: background-color 0.3s ease;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  transition: padding 0.3s ease;
}

.app-title {
  color: #9b59b6;  /* Light Purple */
  font-size: 2em;
  transition: color 0.3s ease;
  border-bottom: #b092bd 0.1rem solid;
  font-weight: light;
}

.app-title:hover {
  color: #8e44ad;  /* Dark Purple */
}

.input-field,
.custom-file-upload {
  margin: 0.5em;
  padding: 1em;
  font-size: 1em;
  border-radius: 2em;
  border: 1px solid transparent;
  -webkit-transition: border 0.3s ease, box-shadow 0.3s ease;
  transition: border 0.3s ease, box-shadow 0.3s ease;
  outline: none;
  -webkit-appearance: none; /* Disable default styling on WebKit-based browsers */
  -webkit-border-radius: 2em; /* WebKit border-radius */
}

/* Add WebKit-specific focus styles */
.input-field:focus,
.custom-file-upload:focus {
  -webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}


.input-field:disabled {
  background-color: white;
  color: gray;
}

.input-field:hover,
.input-field:focus,
.custom-file-upload:hover,
.custom-file-upload:focus {
  border: 1px solid #9b59b6;
  box-shadow: 0 0 10px rgba(155, 89, 182, 0.2);
}

.gradient-button {
  margin-top: 1rem;
  width: 400px;
  padding: 1rem 0;
  border: none;
  border-radius: 2em;
  background: linear-gradient(90deg, rgba(155, 89, 182, 1) 0%, rgba(142, 68, 173, 1) 100%);
  color: white;
  cursor: pointer;
  transition: all 0.3s ease, box-shadow 0.3s ease;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

.gradient-button:hover {
  box-shadow: 0 0 20px rgba(142, 68, 173, 0.4);
}

.canvas-container {
  border: 1px solid #ccc;
  margin-top: 2em;
  border-radius: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, border 0.3s ease;
}



.canvas-container:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border: 1px solid #aaa;
}

strong{
  font-weight: 800;
}


